p {
  flex: 0 150px;
  font-size: 1.5em;
  padding: 0.5em;
  background: rgb(108, 177, 237);
  border-radius: 5px;
}

.picture-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

