@font-face {
    font-family: "Playpen Sans", cursive;
    src: url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
}

body {
    font-family: "Playpen Sans", cursive;
}