main {
    gap: 50px;
}

#name {
  font-style:italic;  
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}

#y-name {
    flex: 0 1 1;
}

.user-post {
    flex: 0 1 1;
    flex-wrap: wrap;
}

.others {
    flex: 0 1 1;
}

#prompt {
    overflow: hidden;
    text-overflow: ellipsis;
}